html body {
	margin: 0px;
	padding: 0px;
	width: 100%;
	height: 100%;
	font-size: 18px;

}

body {background-image: url("../images/concrete_seamless.png");}



header {width: 100%;
		height: 100px;
		position: relative;
		background-color: white;
		font-family: "Georgia",Times,Times New Roman,serif;
		overflow: auto;
	
}



#box {background: #4aaaa5;
	color: white;
	text-align: center;
	padding: 20px;
	margin-left: 50px;
	margin-bottom: 0px;
	position: absolute;
	bottom: 0px;
	font-size: 30px;
}

nav {
  	
  		color: #4aaaa5;
  		right: 100px;
  		position: absolute;
  		bottom: 20px;
  		float: left;
  		width: 300px;

}

nav :link {
			text-decoration: none;
}

nav :hover {
			 font-size: 42px;
}
 
#about {font-family: "Georgia",Times,Times New Roman,serif;
		font-size: 20px;
		border-right: 2px solid #dddddd;
		padding-right: 10px;

	}

#portfolio {font-family: "Georgia",Times,Times New Roman,serif;
			font-size: 20px;
			border-right: 2px solid #dddddd;
			padding-right: 10px;
			padding-left: 10px;
}

#contact {font-family: "Georgia",Times,Times New Roman,serif;
			font-size: 20px;
			padding-left: 10px;
	
}

#MainContent {
			
			width: 100%;
			font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
			margin: 0px;
			height:400px;
			padding: 20px;
			margin-top: 20px;
			position: relative;
			margin-left: 30px;


}

#main {width: 650px;
		margin left: 30px;
		padding: 10px;
		margin-bottom: 40px;
		background-color: white;
		position: absolute;
		
}

aside {width: 270px;
		margin-left: 35px;
		position: absolute;
		right: 200px;
		background-color: white;
		float: right;
		font-family: "Georgia",Times,Times New Roman,serif;

}

			
#container {margin-left: 10px
			margin-bottom 30px;
			margin-right: 50px;
}

#image {width: 140px
		height:	180px;
		float: left;
		margin-right: 20px;
}

p {color: #777777;
	display: inline;
	margin-right: 40px;
	line-height: 30px;
	height: 50px;
		
}

h2 {color: #4aaaa5;
	font-size: 28px;
	padding-bottom: 20px;
	border-bottom: 3px solid #dddddd;
	margin: 20px;
	margin-left: 0px;
	font-family: "Georgia",Times,Times New Roman,serif;
}

h3 {color: #4aaaa5;
	text-align: center;
	border-bottom: 3px solid #dddddd;
	padding: 10px;
	margin-left: 10px;
	margin-right: 10px;}

#links {margin-top: 10px;
		width: 650px;
		
		}

#name {font-size: 25px;
		margin-top: 10px;
		margin-bottom: 10px;
}

#email {font-size: 25px;
		margin-top: 10px;
		margin-bottom: 10px;

}

#message {font-size: 25px;
		margin-top: 10px;
}

#pictures {}

#ipad {float: left;}

h4 {text-align: center;}

footer {background-color: #666666;
 		font-family: "Georgia",Times,Times New Roman,serif;
 		width: 100%;
 		text-align: center;
 		font-size: 12px;
 		clear:both;
 		color: white;
 		border-top: 10px solid #4aaaa5;
 		height: 35px;
 		padding-top: 32px;
 		font-size: 18px;
 }





